<div class="main-header">
    <div class="logo">
        <a href="https://www.unomaha.edu" target="_blank">
            <img alt="University of Nebraska Omaha" src="https://campuscontent.nebraska.edu/UNO/dashboard/IMG/logo-subsite-o-2.png">
        </a>
    </div>
    <h2 class="title">Academic Assessment Import</h2>
    <div class="user" *ngIf="login.isUserAuthenticated() | async">
        Welcome {{getUser()}}
    </div>
</div>
  
<div class="sidenav">
    <div style="margin-top: 10px;">
        <a routerLink="/dashboard" class="navLink" (click)="selectNav('home')">
            <span id="home" class="navbox">Dashboard</span>
        </a>
        <a routerLink="/import" class="navLink" (click)="selectNav('import')">
            <span id="import" class="navbox">Import</span>
        </a>
        <a routerLink="/admin" class="navLink" (click)="selectNav('admin')">
            <span id="admin" class="navbox">Admin</span>
        </a>
        <a class="navLink" (click)="logoutUser()">
            <span class="navbox">Sign Out</span>
        </a>
    </div>
</div>

<div id="router" style="margin-left: 80px; margin-top:60px; overflow-x: auto;">
    <router-outlet></router-outlet>
</div>