<div class="header">
    <mat-icon (click)="toggleSidenav()"
        style="font-size: 30px; color: #FFF; position:absolute; left:10px; top:28px; cursor: pointer;">menu</mat-icon>
    <h2 class="title">Academic Assessment Import</h2>
</div>

<button class="b"  *ngIf="(auth.isAuthenticated$ | async) === false"  (click)="loginWithRedirect()">
  Log in
</button>

<button class="b"  *ngIf="auth.isAuthenticated$ | async" (click)="logout()">
  Log out
</button>


<div *ngIf="auth.user$ | async as user">
  

<div id="side" class="sidenav">
    <a routerLink="/dashboard" (click)="toggleSidenav()">
        <span class="navbox">Dashboard</span>
    </a>
    <br/>
    <a routerLink="/import" (click)="toggleSidenav()">
        <span class="navbox">Import</span>
    </a>
</div>

</div>

<div id="router" style="transition: 0.5s;">
    <router-outlet></router-outlet>
</div>