
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

button[type=submit],
      [type=delete],
      [type=reset] {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

button[type=submit] {
    background-color: #4CAF50;
}

button[type=submit]:hover {
    background-color: #37803b;
}

button[type=delete] {
    background-color: #ac3535;
}

button[type=delete]:hover {
    background-color: #802828;
}

button[type=reset] {
    background-color: #646464;
}

button[type=reset]:hover {
    background-color: #474747;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.col-25 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

legend {
    padding: 3px 6px;
}

input {
    margin: .4rem;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}