.userList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.user {
    position: relative;
    border: solid 1px #38424c;
    padding: 0.5rem;
    width: 25%;
}
.user:hover {
    cursor: pointer;
    background-color: #9da4aa;
}
.header {
    position: relative;
    border: solid 1px #38424c;
    background-color: rgb(219,210,210);
    padding: 0.5rem;
    width: 25%;
}
.role {
    position: relative;
    border: solid 1px #38424c;
    padding: 0.5rem;
    width: 25%;
}