<div class="search">
    <mat-form-field>
        <mat-label>Search Files</mat-label>
        <input matInput [(ngModel)]="searchKey" />
    </mat-form-field> <button mat-flat-button color="warn" (click)="callSearch()" style="margin-left: 10px;">Search</button>
    <button mat-flat-button color="warn" (click)="clear()" style="margin-left: 10px;">Clear</button>
    <button mat-flat-button color="warn" (click)="callExtract()" style="margin-left: 10px;">Process File(s)</button>
    <a routerLink="/import"><button mat-flat-button color="warn" style="margin-left: 10px;">Import File(s)</button></a>
</div><br/>
<table style="padding-bottom: 50px;">
    <tr>
        <td>
            <div>
                <h3 style="color: #d71920; margin-left: 50%;">Upload</h3>
                <mat-card class="upload" style="background-color: rgb(248, 245, 245);">
                    <mat-card-content style="display: flex; flex-direction: column;">
                        <span *ngFor="let file of uploadFiles; let idx = index" class="fileEntry">
                            <mat-checkbox [(ngModel)]="checkBoxStates[idx]" (change)="addFile($event.checked, file, idx)">
                                {{getFileText(file)}}
                            </mat-checkbox>
                        </span>
                    </mat-card-content>
                  </mat-card>
            </div>
        </td>
        <td>
            <div>
                <h3 style="color: #d71920; margin-left: 45%;">Review</h3>
                <mat-card class="review" style="background-color: rgb(248, 245, 245);">
                    <mat-card-content style="display: flex; flex-direction: column;">
                        <span *ngFor="let review of reviewFiles" class="fileEntry">{{getFileText(review)}} <mat-icon
                            style="float: right; cursor: pointer;" (click)="reviewFile(review)">search</mat-icon></span>
                    </mat-card-content>
                  </mat-card>
            </div>
        </td>
        <td>
            <div>
                <h3 style="color: #d71920; margin-left: 45%;">Done</h3>
                <mat-card class="done" style="background-color: rgb(248, 245, 245);">
                    <mat-card-content style="display: flex; flex-direction: column;">
                        <span *ngFor="let complete of completedFiles" class="fileEntry">{{getFileText(complete)}} <mat-icon
                            style="float: right; cursor: pointer;" (click)="reviewFile(complete)">search</mat-icon></span>
                    </mat-card-content>
                </mat-card>
            </div>
        </td>
    </tr>
</table>